.table-container {
    padding: 40px 40px;
    border-radius: 8px;
    background: rgba(60, 60, 60, 0);
}

.btn-container {
    text-align: center;
}

.btn-container button {
    display: inline-block;
    width: 15%;
    margin: 0 auto;
}

.btn-container a {
    text-decoration: none;
}

.btn-container a button {
    display: inline-block;
    width: 15%;
    margin: 0 auto;
}