.navigation {
    margin: 0 auto;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(166, 175, 177, 0.5);
    margin-bottom: 20px;
}
.navigation ul {
    position: relative;
    text-align: center;
    display: inline-block;
}
.navigation li {
    display: inline-block;
    width: 200px;
}
.navigation li a {
    padding: 24px 40px;
    display: inline-block;
    color: #1a1a1a;
    text-decoration: none;
}