<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
        <!-- todo add logging to file -->
    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="command" level="ALL">
            <AppenderRef ref="Console" />
        </logger>
        <logger name="db" level="ALL">
            <AppenderRef ref="Console" />
        </logger>
        <logger name="schedulers" level="ALL">
            <AppenderRef ref="Console" />
        </logger>
    </Loggers>
</Configuration>